/* global styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
main {
  max-width: 650px;
  margin: 32px auto;
  padding: 0 24px;
}
a {
  color: deepskyblue;
  text-decoration: none;
}
article {
  margin: 0 auto;
  max-width: 650px;
}

/* Header */
.header-header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}
.header-h1 {
  font-weight: 100;
}
.header-nav {
  max-width: 650px;
  margin: 0 auto;
}
.header-link {
  font-size: 18px;
  margin-right: 16px;
}
.header-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Home */
.home-ul {
  padding: 0;
}
.home-li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
.home-li:hover {
  box-shadow: 1px 1px 5px #999;
}
.home-link {
  display: flex;
  color: #000;
}
.home-placeholder {
  background-color: #eee;
  min-width: 100px;
  margin-right: 24px;
}
.home-img {
  display: block;
  height: 100%;
}

/* Post */
.placeholder {
  height: 366px;
  background-color: #eee;
}

/* About page */
.about-header {
  text-align: center;
}
.about-avatar {
  height: 120px;
  width: auto;
}
.about-author {
  margin-bottom: 72px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 body {
  background-color: #F4F4F4;
 }
 header {
  height: 100px;
  background-color: rgb(211, 206, 206);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
 }
 .wrapper {
  max-width: 1500px;
  margin: 0 auto;
 }
 /* Landing Section */
 .content {
  background-color: white;
  margin: 50px auto;
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
 }
 article h2 {
  text-align: center;
 }
 article p {
  margin-top: 20px;
 }
 .btn {
  background-color: transparent;
  border: 1px solid black;
  padding: .5rem 1rem;
  margin: 20px auto 0 auto;
  display: block;
 }
 /* Post Section */
 .post {
  padding: 1rem;
 }
 .post h1 {
  text-align: center;
  margin: 20px;
 }
 .post img {
  display: block;
  margin: 0 auto 30px auto;
 }
 